.card{
    margin-top: 10px;
    margin-left: 10px;
}

.sort{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.in{
    type:hidden;
}
.lable{
    display: block;
    box-sizing: border-box;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
}
